In [1]:
#importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Data columns information
'''Borough	Borough
Development Name	Development name
Location	"Building number. 
In order to run an analysis by building, you can use a combination of TDS and building number which gives a unique identifier for each building"
Meter AMR	Is the meter Automatic Meter Reading (AMR), Interval or none
Meter Scope	The buildings or areas the account and meter supply
TDS #	TDS (Tenant Data System) number is the unique identifier for all NCYHA developments. It is recommended to use it in order to run analysis by development. The TDS is also the unique link between NYCHA data sets.
EDP	NYCHA Electronic Data Processing. Number used to identify individual NYCHA developments. EDP is used by NYCHA only to link data issued from a different system (the energy management system that was used by NYCHA before 2010). It is recommended to use the TDS # as a unique identifier of each development.
RC Code	"NYCHA budget responsibility code.  Code representing a specific development.
Funding Source	"The development’s funding source including Federal,Mixed Finance, or an indication that the facility is a non development facility which means a non residential facility."
AMP number	Abbreviation for Asset Management Project (AMP) numbers.  HUD Development asset tracking number.  An AMP number can consist of more than one development.
Vendor Name	Utility vendor name
Revenue Month	Year and month of bill: 2016-01
Service Start Date	Bill start date
Service End Date	Bill end date
number days	Number of days on bill
Meter Number	Meter number
Estimated	Meter was not read for the time period. The consumption and cost are estimated. (Data is updated with actual reads once the meter is read)
Current Charges	Total costs
Rate Class	The rate applied to the account.  Details about each rate (dollar value) are available on the vendor web site.
Bill Analyzed	The bill was analyzed for billing errors by NYCHA's Utility Management system during the billing period
Consumption (KWH)	Total KWH consumption
KWH Charges	Total KWH charges
Consumption (KW)	Total KW consumption
KW Charges	Total KW charges
Other charges	Total other charges
'''

'Borough\tBorough\nDevelopment Name\tDevelopment name\nLocation\t"Building number. \nIn order to run an analysis by building, you can use a combination of TDS and building number which gives a unique identifier for each building"\nMeter AMR\tIs the meter Automatic Meter Reading (AMR), Interval or none\nMeter Scope\tThe buildings or areas the account and meter supply\nTDS #\tTDS (Tenant Data System) number is the unique identifier for all NCYHA developments. It is recommended to use it in order to run analysis by development. The TDS is also the unique link between NYCHA data sets.\nEDP\tNYCHA Electronic Data Processing. Number used to identify individual NYCHA developments. EDP is used by NYCHA only to link data issued from a different system (the energy management system that was used by NYCHA before 2010). It is recommended to use the TDS # as a unique identifier of each development.\nRC Code\t"NYCHA budget responsibility code.  Code representing a specific development.\nFunding Source\t"The development’s funding source including Federal,Mixed Finance, or an indication that the facility is a non development facility which means a non residential facility."\nAMP number\tAbbreviation for Asset Management Project (AMP) numbers.  HUD Development asset tracking number.  An AMP number can consist of more than one development.\nVendor Name\tUtility vendor name\nRevenue Month\tYear and month of bill: 2016-01\nService Start Date\tBill start date\nService End Date\tBill end date\nnumber days\tNumber of days on bill\nMeter Number\tMeter number\nEstimated\tMeter was not read for the time period. The consumption and cost are estimated. (Data is updated with actual reads once the meter is read)\nCurrent Charges\tTotal costs\nRate Class\tThe rate applied to the account.  Details about each rate (dollar value) are available on the vendor web site.\nBill Analyzed\tThe bill was analyzed for billing errors by NYCHA\'s Utility Management system during the billing period\nConsumption (KWH)\tTotal KWH consumption\nKWH Charges\tTotal KWH charges\nConsumption (KW)\tTotal KW consumption\nKW Charges\tTotal KW charges\nOther charges\tTotal other charges\n'

In [3]:
ds = pd.read_csv('Electric_Consumption_And_Cost__2010_-_March_2019_.csv')
ds.head()

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Development Name,Borough,Account Name,Location,Meter AMR,Meter Scope,TDS #,EDP,RC Code,Funding Source,...,Meter Number,Estimated,Current Charges,Rate Class,Bill Analyzed,Consumption (KWH),KWH Charges,Consumption (KW),KW Charges,Other charges
0,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,15396.82,GOV/NYC/068,Yes,128800,7387.97,216.0,2808.0,5200.85
1,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,14556.34,GOV/NYC/068,Yes,115200,6607.87,224.0,2912.0,5036.47
2,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,13904.98,GOV/NYC/068,Yes,103200,5919.55,216.0,2808.0,5177.43
3,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,14764.04,GOV/NYC/068,Yes,105600,6057.22,208.0,2704.0,6002.82
4,ADAMS,BRONX,ADAMS,BLD 05,NONE,BLD 01 to 07,118.0,248,B011800,FEDERAL,...,7223256,N,13729.54,GOV/NYC/068,Yes,97600,5598.34,216.0,2808.0,5323.20

In [4]:
#checking shape of dataset
ds.shape

(287844, 27)

In [5]:
# checking dataset size
ds.size

7771788

In [6]:
#cheking types of data
ds.dtypes

Development Name       object
Borough                object
Account Name           object
Location               object
Meter AMR              object
Meter Scope            object
TDS #                 float64
EDP                     int64
RC Code                object
Funding Source         object
AMP #                  object
Vendor Name            object
UMIS BILL ID            int64
Revenue Month          object
Service Start Date     object
Service End Date       object
# days                  int64
Meter Number           object
Estimated              object
Current Charges       float64
Rate Class             object
Bill Analyzed          object
Consumption (KWH)       int64
KWH Charges           float64
Consumption (KW)      float64
KW Charges            float64
Other charges         float64
dtype: object

In [7]:
# checking for null values
ds.isnull().sum().sort_values(ascending=False)

Meter Scope           272779
Location                7611
TDS #                   1257
AMP #                   1225
Estimated                337
Meter AMR                 74
Other charges              0
UMIS BILL ID               0
Borough                    0
Account Name               0
EDP                        0
RC Code                    0
Funding Source             0
Vendor Name                0
Revenue Month              0
KW Charges                 0
Service Start Date         0
Service End Date           0
# days                     0
Meter Number               0
Current Charges            0
Rate Class                 0
Bill Analyzed              0
Consumption (KWH)          0
KWH Charges                0
Consumption (KW)           0
Development Name           0
dtype: int64

In [8]:
# Changing some columns names in order to increase data readability
ds = ds.rename(columns = {'Meter AMR': 'Meter Type',
                          'Revenue Month': 'Bill Date',
                          'Service Start Date': 'Bill Start Date',
                          'Service End Date': 'Bill End Date',
                          'Current Charges': 'Total Costs($)',
                          'Consumption (KW)': 'Power Consumption(KW)',
                          'Consumption (KWH)': 'Energy Consumption(KWh)'
                         })

In [9]:
# calculating the percetage of missing values
percent_missing = (ds.isnull().sum() / len(ds)) * 100
ds_missing = pd.DataFrame({'percent_missing': percent_missing})
ds_missing.sort_values('percent_missing', inplace=True, ascending = False)
ds_missing.head()

             percent_missing
Meter Scope        94.766262
Location            2.644141
TDS #               0.436695
AMP #               0.425578
Estimated           0.117077

In [10]:
# checking bill columns and if I can drop some not neede columns
ds[['Bill Start Date', 'Bill End Date', 'Bill Date']].head()

  Bill Start Date Bill End Date Bill Date
0      12/24/2009    01/26/2010   2010-01
1      01/26/2010    02/25/2010   2010-02
2      02/25/2010    03/26/2010   2010-03
3      03/26/2010    04/26/2010   2010-04
4      04/26/2010    05/24/2010   2010-05

In [11]:
# as meter scope has a very high percetage of missing values, I am going to drop this column.
# Also, for the analysis purpose I will not need some other columns so I'll drop them off
ds = ds.drop(['Development Name', 
              'TDS #', 
              'EDP', 
              'KW Charges',
              'KWH Charges',
              'Other charges',
              'Meter Scope', 
              'RC Code', 
              'AMP #',
              'Location',
              'Estimated',
              'Vendor Name', 
              'UMIS BILL ID',
              'Bill Start Date', 
              'Bill End Date'],axis = 1)

In [12]:
ds.head()

,Borough,Account Name,Meter Type,Funding Source,Bill Date,# days,Meter Number,Total Costs($),Rate Class,Bill Analyzed,Energy Consumption(KWh),Power Consumption(KW)
0,BRONX,ADAMS,NONE,FEDERAL,2010-01,33,7223256,15396.82,GOV/NYC/068,Yes,128800,216.0
1,BRONX,ADAMS,NONE,FEDERAL,2010-02,30,7223256,14556.34,GOV/NYC/068,Yes,115200,224.0
2,BRONX,ADAMS,NONE,FEDERAL,2010-03,29,7223256,13904.98,GOV/NYC/068,Yes,103200,216.0
3,BRONX,ADAMS,NONE,FEDERAL,2010-04,31,7223256,14764.04,GOV/NYC/068,Yes,105600,208.0
4,BRONX,ADAMS,NONE,FEDERAL,2010-05,28,7223256,13729.54,GOV/NYC/068,Yes,97600,216.0

In [13]:
# checking names and number of columns
print(ds.columns)
len(ds.columns)

Index(['Borough', 'Account Name', 'Meter Type', 'Funding Source', 'Bill Date',
       '# days', 'Meter Number', 'Total Costs($)', 'Rate Class',
       'Bill Analyzed', 'Energy Consumption(KWh)', 'Power Consumption(KW)'],
      dtype='object')

12

In [14]:
# checking number of unique columns
len(ds.columns.unique())

12

In [15]:
#exporting clean dataset to a new csv file
ds.to_csv('NYC_clean.csv')